.home-tile {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 20px;
    color: white;
    border-radius: 5px;
    /* text-align: center; */
    width: 200px;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    line-height: 100px;
    white-space: nowrap; */
}

.keychal {
    background-color: rgba(204, 0, 0, 0.7)
}

.blog {
    background-color: rgba(0, 102, 204, 0.7)
}

.expense-report {
    background-color: rgba(204, 255, 228, 0.7);
    color: black;
    font-weight: bold
}