.home-tile {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 20px;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
}

.keychal {
    background-color: rgba(204, 0, 0, 0.7)
}

.blog {
    background-color: rgba(0, 102, 204, 0.7)
}

.free {
    background-color: rgba(204, 255, 228, 0.7);
    color: black;
    font-weight: bold
}

.sponsor {
    background-color: rgba(255, 215, 0);
    color: gray;
    font-weight: bold
    
}