.my-calendar {
    width: 610px;
    height: 450px;
    border: 1px solid #ccc;
}

.my-calendar .react-calendar__tile {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.react-calendar__tile--active {
    background-color: #ADD8E6;
}
.tile-note{
    font-size: 12px;
    color: red;
    margin-top: 2px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.header-container{
    display: flex;
    gap: 70px;
    font-size: 15px;
    margin-left: 10px;
}

.keywords-container{
    display: flex;
    gap: 40px;
    margin-top: 10px;
    font-size: 14px;
}

.keywords{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.wheel-picker {
    width: 200px;
    text-align: center;
    user-select: none;
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 50px;
    padding: 100px 20px;
}

.picker-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 120px;
    overflow: hidden;
}

.picker-list li {
    height: 40px;
    line-height: 40px;
    transition: all 0.2s;
    opacity: 0.4;
    font-size: 20px;
}

.picker-list li.selected {
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 4px 0;
}